HELP.md
.apt_generated
.attach_pid*
.classpath
.factorypath
.gradle
.idea
.project
.settings
.springBeans
.sts4-cache
.DS_Store
gradlew
gradlew.bat
*.gz
*.iml
*.ipr
*.iws
*.jar
*.pid
*.tar
*.war
*.zip

.metadata/
.recommenders/
.vscode/
bin/
build/
build-eclipse/
gradle/
logs/
out/
target/

/.nb-gradle/
/dist/
/nbproject/private/
/nbbuild/
/nbdist/
